# The directory Mix will write compiled artifacts to.
vivaldi/_build

# If you run "mix test --cover", coverage assets end up here.
vivaldi/cover

# The directory Mix downloads your dependencies sources to.
vivaldi/deps

# Where 3rd-party dependencies like ExDoc output generated docs.
vivaldi/doc

# If the VM crashes, it generates a dump, let's ignore it too.
erl_crash.dump

# Also ignore archive artifacts (built via "mix archive.build").
*.ez


# See http://help.github.com/ignore-files/ for more about ignoring files.

# JS

# dependencies
visualization/node_modules

# testing
visualiztion/coverage

# production
visualization/build

# misc
.DS_Store
.env
npm-debug.log*
yarn-debug.log*
yarn-error.log*

