.two-d-viz {
  margin-left: 15%
}

.two-d-viz svg {
  border: 1px dashed #ff5992
}

.legend-item {
  display: flex;
}

.legend-color {
  width: 1.5rem;
  height: 1.5rem;
}

.legend-item div {
  margin-top: 6px;
  margin-right: 1rem;
  margin-left: 1rem;
  margin-bottom: 0.5rem;
}

@media(max-width: 768px) {

  .two-d-viz {
    margin-left: 0%
  }

  .two-d-viz svg {
    margin-left: 5%
  }

  .legend-item div {
    margin-right: 0.2rem;
    margin-left: 0.2rem;
  }
}

@media(min-width: 769px) and (max-width: 992px) {
  .two-d-viz {
    margin-left: 0%
  }

  .two-d-viz svg {
    margin-left: 2%
  }

  .legend-item div {
    margin-right: 1rem;
    margin-left: 1rem;
  }
}

.anim-title {
  text-align: center;
}

.anim-control {
  display: flex;
  height: 3.5rem;
}

.anim-buttons {
  width: 20%;
}

.btn-pause, .btn-replay {
  display: none;
}

.btn-anim {
  line-height: 2rem;
  font-size: 2rem;
  margin-bottom: 0.5rem;
}

.anim-stage {
  font-weight: bolder;
  background: #3f51b5;
  color: white;
  line-height: 1.2rem;
  height: 1.2rem;
  font-size: 1.2rem;
  padding-left: 1.2rem;
  padding-right: 1.2rem;
  padding-top: 0.3rem;
  padding-bottom: 0.3rem;
  margin-top: 5px;
  margin-left: 10px;
}
